@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KnightWarrior';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/KnightWarrior.otf');
}

body {
    font-family: 'KnightWarrior', sans-serif;
    @apply tracking-wider;
}